html {
  overflow-x: hidden;
}
*,
*:before,
*:after {
  /* box-sizing: inherit; */
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

/* img {
  width: 100%;
  height: auto;
} */
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333;
}
.wrapper-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
}
/* /////////////////////////HEADER//////////////////// */
.header-wrapper {
  display: flex;
}
.header {
  background-color: #eeeeee;
  height: 114px;
}
.link {
  text-decoration: none;
  outline: none;
}
.logo {
  display: flex;
  padding: 0px;
  margin-left: 120px;
  margin-top: 50px;
  margin-bottom: 20px;
  min-width: 165px;
}
.logo:hover,
.logo:focus {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.3;
}
.main-nav-menu {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-top: 75px;
  margin-left: 30px;
}
.menu-nav-link {
  margin-left: 45px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
.menu-nav-link:hover,
.menu-nav-link:focus {
  color: #fb565a;
}
.menu-nav-link:active {
  color: #000000;
  border-bottom: 2px solid #fb565a;
}
.main-nav-cart {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  margin-left: 190px;
  outline: none;
  list-style: none;
}
.cart {
  margin-top: -5px;
  margin-left: -30px;
}
.menu-cart-link {
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
.menu-cart-link:hover,
.menu-cart-link:focus {
  color: #fb565a;
}
.menu-cart-link:active {
  color: #000000;
  border-bottom: 2px solid #fb565a;
}
.main-nav-cart li:before {
  position: absolute;
  margin-top: 5px;
  margin-right: 30px;
  margin-left: -45px;
  width: 15px;
  height: 15px;
  content: "";
  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;
}
.title-wrapper {
  width: 100%;
  padding: 0;
}
.page-title {
  margin: 0 auto;
  margin-top: -25px;
  padding-top: 55px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  /* margin-left: 348px; */
  /* margin-right: 347px; */
  background-color: #EEEEEE;
  padding-bottom: 100px;

}
/* ///SLIDER/// */
.slider .wrapper-content {
  margin-left: 170px;
}
.slider {
  position: relative;
  background-color: #eee;
}
.slider-controls {
  font-size: 0;
  position: absolute;
  z-index: 100;
  bottom: 104px;
  margin-left: 760px;
  width: 160px;
  height: 18px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  cursor: pointer;
  vertical-align: top;
  border-radius: 50%;
}
.slider-controls label::after {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 8px;
  width: 18px;
  height: 18px;
  content: "";
  border-radius: 50%;
  background: #fff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}
.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 82% 18px;
}
.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 87% 0;
}
.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 85% 20px;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  position: absolute;
  z-index: 111;
  top: 87%;
  left: 87%;
  width: 10px;
  height: 10px;
  margin: -4px;
  content: "";
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  background-color: inherit;
}
.slider-item h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  margin-left: 173px;
  color: #000;
}
.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
  margin-left: 173px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.button {
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  margin-left: 173px;
  width: 240px;
  height: 50px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #fb565a;
  color: #fff;
  border-radius: 3px;
  height: 50px;
}
.button:hover,
.button:focus {
  background-color: #e74246;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
/* /////////////////////MAIN////////////// */
.main-section {
margin-top: 255px;
height: 50px;
}
.filter-wrapper {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: auto;
  /* margin-left: 140px; */
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-button {
  max-width: 260px;
  margin-left: 270px;
  margin-top: 50px;
  background-color: #EEEEEE;
  padding-top: 17px;
  padding-right: 88px;
  padding-left: 88px;
  padding-bottom: 15px;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.filter-button:focus,
.filter-button:hover {
  background-color: #DFDFDF;
  border: none;
  outline: none;
}
.filter-button:active{
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  background-color: #D5D5D5;
  border: none;
  outline: none;
  opacity: 0.3;
}
.radio-hidden {
  display: none;
}
.main-filter {
  display: flex;
  flex-direction: row;
}
.main-filter-header {
  display: flex;
  margin-left: 785px;
  margin-top: -5px;
  margin-bottom: -52px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.main-filter-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: -101px;

}
.main-filter-item {
  padding-right: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
 }
 .main-filter-item:hover,
 .main-filter-item:focus {
  opacity: 1.0;
  color: #000000;
 }
 .min-price {
   width: 80px;
   height: 38px;
   text-align: center;
   background-color: #EEEEEE;
   border: none;
   margin-right: 33px;
   margin-left: 11px;
 }
 .max-price {
  width: 80px;
  height: 38px;
  text-align: center;
  background-color: #EEEEEE;
  border: none;
  margin-left: 11px;
 }
 .price-slider {
   background-color: #EEEEEE;
   width: 260px;
   height: 80px;
   margin-bottom: 14px;
 }
 .price-slider-line {
   width: 205px;
   height: 2px;
   margin-top: 39px;
   background-color: #D7DCDF;
 }
 .price-slider-green {
  width: 138px;
  height: 2px;
  margin-left: 33px;
  margin-top: -2px;
  background-color: #00CA74;
 }
 .price-slider-min {
   width: 20px;
   height: 20px;
   background-color: #FFFFFF;
   margin-top: -12px;
   margin-left: 27px;
   border-radius: 15px;
   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
 }
 .price-slider-max {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  margin-top: -18px;
  margin-left: 160px;
  border-radius: 15px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
 }
 .price-slider-dot1 {
   position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  margin-top: -4px;
  margin-left: 35px;
  background-color: #ABABAB;
 }
 .price-slider-dot2 {
 position: absolute;
 width: 4px;
 height: 4px;
 border-radius: 2px;
 margin-top: -3px;
 margin-left: 168px;
 background-color: #ABABAB;
}
 .price-slider-min:after {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    margin-top: -12px;
    margin-left: 27px;
    background-color: red;
 }
.first-filter {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 270px;

  /* margin-left: 140px; */
  /* margin-left: 340px; */

}
.first-filter-header {
  margin-top: -25px;
  /* margin-left: 145px; */
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.first-filter-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.first-filter-value {
  padding-right: 20px;
}
.second-filter {
  list-style: none;
  margin-left: 270px;
  margin-bottom: 46px;
}
.second-filter-header {
  margin-top: 54px;
  margin-left: 270px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter-radio {
}
.radio-custom {
  position: relative;
  display: inline-block;
  margin-bottom: -5px;
  height: 15px;
  width: 15px;
  border: solid #4D4D4D 3px;
  border-radius: 50%;
}
.radio-custom::before {
  position: absolute;
  content: "";
  top: 20%;
  left: 20%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #4D4D4D;
  opacity: 0.5;
}
.radio-button:checked + .radio-custom::before {
  opacity: 1;
}
.filter-radio + .radio-custom::before {
  opacity: 1;
}
.filter-radio:checked + .radio-custom::before {
 opacity: 1;
}
.radio-text {
  margin-left: 10px;
}
.third-filter {
  list-style: none;
  margin-left: 270px;
}
.third-filter-header {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 270px;
}
.down {
  opacity: 1.0;
}
.templates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 23px;
  width: 770px;
  height: auto;
  margin-left: 780px;
}
.template {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.template:hover .popup-block {
  display: block;
}
.template:hover .image-cap {
  opacity: 1.0;
}
.popup-block {
display: none;
width: 360px;
height: 231px;
margin-top: -231px;
text-align: center;
background-color: #EEEEEE;
}

.template-header {
margin-top: 26px;
font-family: Roboto;
font-style: Bold;
font-style: 18px;
line-height: 30px;
text-transform: uppercase;
}
.template-desc {
font-size: 16px;
line-height: 18px;
color: #666666;
margin-bottom: 32px;
}
.template-button {
  /* margin-top: 84px; */
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 72px;
  padding-right: 72px;
  background-color: #FB565A;
  border: 0;
  border-radius: 3px;
}
.template-button:hover,
.tempalte-button:active {
  background-color: #E74246;
}
.template-button:focus {
  background-color: #D7373B;
}
.image-cap:first-child {
  padding-top: -40px;
  opacity: 12%;
}

.template:first-child{
  display: flex;
  /* margin-left: 222px; */
  padding-bottom: -40px;
  margin-bottom: 30px;
  margin-left: 0;
}

.template:nth-child(2) {
  display: flex;
  margin-left: 30px;
  /* margin-left: -160px; */
  /* margin-right: 141px; */
}
.template:nth-child(3){
  display: flex;
  margin-left: 0;
  /* margin-left: 800px; */
  /* padding-bottom: -40px; */
}
.template:nth-child(4){
  display: flex;
  margin-left: 30px;
  /* margin-right: 141px; */
}
.template:nth-child(5){
  display: flex;
  margin-left: 0;
  padding-bottom: -40px;
  margin-top: 30px;
}
.template:nth-child(6){
  display: flex;
  margin-top: 30px;
  margin-left: 36px;

}
.products {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
.products-block1 {
  margin-left: 380px;
}
.products-block2 {
  margin-left: 100px;
}
.products-block3 {
  margin-left: 100px;
  padding-left: 0;
}
.products-block1-picture {
  background-image: url(../img/illustration-1.png);
  background-repeat: no-repeat;
  height: 146px;
  width: 300px;
  margin-top: 40px;
}
.products-block2-picture {
  background-image: url(../img/illustration-2.png);
  background-repeat: no-repeat;
  height: 146px;
  width: 300px;
  margin-top: 40px;
}
.products-block3-picture {
  background-image: url(../img/illustration-3.png);
  background-repeat: no-repeat;
  height: 146px;
  width: 300px;
  margin-top: 40px;
}
.products-header {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.products-text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 43px;
}
.products-button1 {
  width: 160px;
  height: 50px;
  padding: 17px 40px 15px 39px;
  font-weight: 400;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  color: #fff;
  border-radius: 7px;
  height: 50px;
  text-decoration: none;
}
.products-button1:hover,
.products-button1:focus {
  background-color: #E74246;
}
.products-button2:hover,
.products-button2:focus {
  background-color: #00BC6C;
}
.products-button3:hover,
.products-button3:focus {
  background-color: #EAB534;
}
.products-button1:active {
  background-color: #D7373B;
}
.products-button2:active {
  background-color: #00AA62;
}
.products-button3:active {
  background-color: #E5A722;
}
.products-button2 {
  width: 160px;
  height: 50px;
  font-weight: 400;
  font-family: inherit;
  border: none;
  text-transform: uppercase;
  background-color: #00ca74;
  color: #fff;
  border-radius: 7px;
  padding: 17px 40px 15px 39px;
  text-decoration: none;
}
.products-button3 {
  width: 160px;
  height: 50px;
  font-weight: 400;
  font-family: inherit;
  border: none;
  text-transform: uppercase;
  background-color: #efc84a;
  color: #fff;
  border-radius: 7px;
  padding: 17px 40px 15px 39px;
  text-decoration: none;
}
.description {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 63px;
}
/* //////////////ABOUT/////////// */
.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 120px;
  margin-top: 10px;
  font-family: inherit;
}
.about-wrapper-content {
  display: flex;
  margin: 0;
}
.about-header {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 35px;
}
.about-text {
  font-size: 16px;
  font-weight: 400;
  margin-left: 0px;
  margin-bottom: 40px;
}
.about-orders {
  margin-left: 0px;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.about-orders-list {
  list-style: none;
  margin-left: 40px;
  position: relative;
}
.about-orders-item {
  position: relative;
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 24px;
}
.about-orders-item:before {
  content: " ";
  position: absolute;
  top: 10px;
  left: -40px;
  height: 2px;
  width: 25px;
  background-color: red;
}
.nerds-results {
  display: flex;
  position: absolute;
  margin-top: -15px;
  margin-left: 450px;
}
.nerds-results-text {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 15px;
}
.nerds-results-list {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 30px;
}
.nerds-results-values {
  display: flex;
  position: absolute;
  list-style: none;
  font-size: 45px;
  font-weight: bold;
  line-height: 18px;
  margin-top: 290px;
  justify-content: center;
}

.nerds-results-values1 {
  margin-right: 15px;
}

.nerds-results-values3 {
  margin-left: 20px;
}
.nerds-results-values1-text {
  margin-top: 35px;
  font-weight: 400;
  font-size: 16px;
}
.nerds-results-values2-text {
  margin-top: 35px;
  font-weight: 400;
  font-size: 16px;
}
.nerds-results-values3-text {
  margin-top: 35px;
  font-weight: 400;
  font-size: 16px;
}
/* //////////////////////FIRMLINE///////////////// */

.firm {
  margin-bottom: 78px;
  padding-top: 60px;
  padding-bottom: 23px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}
.firm-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-right: 44px;
  margin-left: 30px;
  padding: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.firm-item {
  position: relative;
  display: flex;
}
.firm-item a {
  display: flex;
  justify-content: center;
}
.border {
  display: inline-block;
  content: "";
  background-color: #eee;
  width: 1160px;
  height: 2px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 75px;
  margin-bottom: 60px;
}

.firm-item:after {
  position: absolute;
  top: -30px;
  right: -50px;
  bottom: 0;
  width: 2px;
  height: 52px;
  margin-top: auto;
  margin-bottom: auto;
  content: "";
  background-color: #eee;
}
.firm-item:last-child::after {
  width: 0;
  height: 0;
}
.firm-item:first-of-type {
  margin-left: 120px;
}
.firm-item:nth-of-type(2) {
  margin-left: 30px;
  margin-top: -20px;
}
.firm-item:nth-of-type(3) {
  margin-left: 15px;
}
.firm-item:nth-of-type(4) {
  align-items: flex-start;
  margin-left: -20px;
}
.firm-item img {
  opacity: 0.2;
}
.firm-item img:hover {
  opacity: 1;
}
.firm-item img:active {
  opacity: 0.2;
}

/* ///////////////////////////MAP//////////////////// */
.map-wrapper {
  position: relative;
  display: flex;
  height: 416px;
  width: 1440px;
  flex-grow: 1;
  background-color: #b5b5b5;
}
.section-map {
  display: flex;
  margin: 0 auto;
}
.map {
  display: flex;
  position: absolute;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.map-marker {
  position: absolute;
  margin-left: 805px;
  margin-top: 86px;
}
.map-button {
  position: absolute;
  background-color: #fb565a;
  color: #fff;
  font-family: inherit;
  width: 220px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  text-transform: uppercase;
  border-radius: 3px;
  padding-bottom: 47px;
  margin-left: 50px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding-top: 17px;
  padding-bottom: 15px;
}
.map-button:hover,
.map-button:focus {
  background-color: #E74246;
}
.map-button:active {
  background-color: #D7373B;
}
.map-text-background {
  position: absolute;
  margin-top: 54px;
  margin-left: 140px;
  z-index: 12;
  width: 319px;
  height: 308px;
  /* padding: 48px 50px 47px 50px; */

  background-color: #ffffff;
}
.map-text-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  padding-right: 76px;
  padding-left: 50px;
  padding-top: 49px;
  padding-bottom: 30px;
}
.map-text-adress {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  padding-left: 50px;
  padding-right: 39px;
  padding-bottom: 25px;
}
.map-phone {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding-left: 50px;
  padding-right: 39px;
  padding-bottom: 37px;
}
.map-phone-link {
  color: #666666;
}
iframe{
  z-index: 11;
  width: 100%;
}
/* POPUP FORM */
.form-wrapper {
  width: 968px;
  height: 100;
  margin: 0;
  padding: 0;
}
#modal:checked ~ .popup-form {
  display: none;
}

.popup-form {
  top: -400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-right: 100px;
  padding-bottom: 100px;
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  position: relative;
  transition: .5s all;
}
.popup-h2 {
  justify-content: flex-start;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  font-size: 45px;
  line-height: 53px;
  color: #000000;
  margin-top: 44px;
  margin-left: 100px;
  margin-bottom: 21px;
}
.name-email {
    display: flex;
    flex-direction: row;
}
.popup-name {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-left: 105px;
  padding-right: 40px;
  margin-bottom: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}
.popup-name-text{
  margin-left: 0px;
  margin-bottom: 5px;
}
.popup-email-text {
  margin-left: 0px;
  margin-bottom: 5px;
}
.popup-email {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}
.popup-text-window {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin-left: 100px;
  padding-bottom: 9px;
}
.popup input {
  width: 360px;
  height: 50px;
}
.form-header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.popup-close {
    margin-left: 420px;
    background-image: url(/img/close.svg);
    width: 21px;
    height: 21px;
    opacity: 0.3;
    margin-top: 58px;
}
.popup-close:hover {
  opacity: 1.0;
}
.popup-close:active {
  opacity: 0.1;
}
.popup-text {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.popup-textarea {
  min-height: 145px;
  min-width: 760px;
  margin-left: 100px;
  border: 2px solid #D7DCDE;
}
.send-button {
    display: flex;
    justify-content: center;
    background-color: #fb565a;
    color: #fff;
    height: 30px;
    width: 220px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    font-family: inherit;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 15px;
    margin-left: 100px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding-top: 17px;
    padding-bottom: 3px;
    padding-left: 19px;
    padding-right: 20px;
}
.send-button:hover,
.send-button:focus {
    background-color: #E74246;
}
.send-button:active {
  background-color: #D7373B;
}

/* ///////////////////////////////FOOTER///////////////////////// */
.footer-links {
  display: flex;
  position: absolute;
  flex-direction: row;
  margin-left: 240px;
}
.footer-soc-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  text-decoration: none;
  margin-bottom: 68px;
}
.footer-soc-link-vk {
  width: 79px;
  height: 79px;
  margin-left: 140px;
  background-color: #e1e1e1;
  border-radius: 40px;
}
.footer-soc-link-fb {
  width: 79px;
  height: 79px;
  margin-left: 15px;
  background-color: #e1e1e1;
  border-radius: 40px;
}
.footer-soc-link-inst {
  background-color: #e1e1e1;
  width: 79px;
  height: 79px;
  margin-left: 15px;
  border-radius: 40px;
}
.soc-vk {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 30px;
  width: 26px;
  height: 16px;
}
.soc-fb {
  width: 12px;
  height: 22px;
  margin-left: 33px;
  margin-right: 33px;
  margin-top: 30px;
}
.soc-inst {
  margin: 30px 30px;
}
.footer-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 230px;
  margin-top: 75px;
}
.footer-text-header {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: black;
  margin-left: 540px;
}
.footer-text-desc {
  margin-top: 15px;
  margin-left: 540px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
